.create-event-next-btn {
  width: 153px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #5C4EFE;
  border-radius: 40px;

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #FFFFFF;

  cursor: pointer;
}