.dot {
  position: absolute;
  bottom: 0;
  right: 0;

  width: 16px;
  height: 16px;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--meet-bg);
}
.dot__inner {
  width: 8px;
  height: 8px;

  border-radius: 50%;
}

.dot_online {
  .dot__inner {
    background: var(--color-green);
  }
}
.dot_offline {

}
.dot_away {

}