.creation-stage {
  display: grid;
  grid-template-columns: 30px auto;
  gap: 25px;

  .creation-stage__create-zone {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .creation-stage__title {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

}