.side-bar__navigation {
  position: relative;

  width: 95px;

  overflow: hidden;

  //padding-right: 38px;

  background: rgba(248, 248, 248, 0.8);
  backdrop-filter: blur(28px);

  /*background: rgba(248, 248, 248, 0.8);
  backdrop-filter: blur(28px);*/

  transition: width .3s linear;

  display: grid;
  grid-template-rows: 70% 30%;

  .side-bar__nav-up {
    //padding-top: 49px;

    .side-bar__nav-up-wrapper {
      transform: translate(38px, 126px);

      display: flex;
      flex-direction: column;
      gap: 32px;
    }

    //background: #181A21;
  }

  .side-bar__nav-bottom {
    transform: translate(38px, 0);

    padding-bottom: 30px;

    align-self: flex-end;

    //align-self: center;
    //background: rebeccapurple;
  }
}

.events-icon,
.archive-icon,
.chosen-icon,
.settings-icon {
  &:before {
    content: '\e906';
    font-family: AppIcons;
    font-size: 24px;

    color: #3E424A;
  }
}

.archive-icon {
  &:before {
    content: '\e900';
  }
}

.chosen-icon {
  &:before {
    content: '\e90a';
  }
}

.settings-icon {
  &:before {
    content: '\e918';
  }
}