.side-bar-nav-el {
  display: flex;
  align-items: center;
  gap: 34px;

  transition: all .3s linear;

  .side-bar-nav-el__icon {
    &:before {
      color: rgba(149, 144, 165, 0.5);
    }
  }

  .side-bar-nav-el__title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;

    color: rgba(149, 144, 165, 0.5);

    opacity: 0;

    transition: opacity .1s linear;
  }
}

.side-bar-nav-el_full {
  .side-bar-nav-el__title {
    opacity: 1;
  }
}
.side-bar-nav-el_current {
  .side-bar-nav-el__icon {
    &:before {
      color: #3E424A;
    }
  }
  .side-bar-nav-el__title {
    font-size: 14px;

    color: #3E424A;
  }
}