.side-bar__arrow {
  position: relative;

  display: flex;
  align-items: center;

  //background: red;

  height: 100%;

  gap: 5px;

  cursor: pointer;

  .side-bar__lines {
    display: flex;
    flex-direction: column;
    gap: 5px;

    transition: opacity .3s linear;
  }

  .side-bar__up-arrow,
  .side-bar__bottom-arrow {
    width: 20px;
    height: 2px;

    border-radius: 20px;

    background: #2A292E;

    transition: opacity .3s linear;
  }

  .side-bar__up-arrow {

  }
  .side-bar__bottom-arrow {
    background: var(--color-purple);
  }

  .side-bar__line-arrow {
    transition: opacity .3s linear;

    &:before {
      position: absolute;
      top: 50%;
      left: 0;

      transform: translate(0, -50%);

      content: '\e902';
      font-family: AppIcons;
      font-size: 20px;
    }
  }

  .el_hide {
    opacity: 0;
  }
}