.side-bar {
  position: fixed;
  top: 0;
  left: 0;

  width: 130px;
  height: 100vh;

  //background: #181A21;

  background: transparent;
  backdrop-filter: blur(28px);

  display: grid;
  grid-template-rows: 112px calc(100vh - 112px);

  border-right-color: #EFEFEF;
  border-right-style: solid;
  border-right-width: 0;

  transition: all .3s linear;
}
.side-bar_open {
  width: 248px;

  background: rgba(255, 255, 255, 0.8);
  border-right-width: 1px;
}
.side-bar__up {
  height: 100%;
}
.side-bar__navigation {
  height: 100%;
}

.side-bar_left_offset {
  padding-left: 38px;
}