.side-bar {
  position: fixed;
  top: 0;
  left: 0;

  width: auto;
  height: 100vh;

  overflow: hidden;

  display: grid;
  grid-template-rows: 112px calc(100vh - 112px);

  border-right-color: #EFEFEF;
  border-right-style: solid;
  border-right-width: 0;

  z-index: 1;
}
.side-bar_open {
  background: rgba(255, 255, 255, 0.8);

  backdrop-filter: blur(28px);

  border-right-width: 1px;

  .side-bar__navigation {
    width: 248px;

    background: unset;
    backdrop-filter: unset;
  }
}
.side-bar__up {
  height: 100%;
}
.side-bar__navigation {
  height: 100%;
}

.side-bar_left_offset {
  padding-left: 38px;
}