.side-bar__up {
  display: grid;
  grid-template-rows: 50% 50%;

  background: var(--bg-header);

  .side-bar__grid-up {
    align-self: end;
  }

  .side-bar__grid-down {
    //align-self: center;
  }
}