.new-post {
  width: fit-content;

  display: flex;
  align-items: center;
  gap: 24px;

  padding: 12px 17px;

  background: rgba(92, 78, 254, 0.1);
  border-radius: 15px;
}
.new-post__image {
  img {
    width: 32px;
    height: auto;
  }
}

.new-post__text {
  display: flex;
  flex-direction: column;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;

  color: #FFFFFF;
}