.logo {
  position: relative;

  .logo__title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;

    color: #292929;
  }

  .logo__line {
    position: absolute;
    bottom: 0;
    left: 0;

    transform: translate(0, -10px);

    width: 55px;
    height: 3px;

    background: #5C4EFE;
    border-radius: 27px;
  }
}