.user {
  height: 100%;
}
.user__container {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  padding: 0 10px;
}

.user__name {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  color: #B1B5BD;
}
.user__photo {
  position: relative;

  width: 48px;
  height: 48px;

  background: var(--color-grey);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  border-radius: 50%;
}