.archive-event-ib {
  width: 100%;

  display: grid;
  grid-template-columns: 500px auto;

  border-top: 1px solid #E3E3E3;
  border-bottom: 1px solid #E3E3E3;

  .archive-event-ib__i {
    border-right: 1px solid #E3E3E3;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
  }

  .archive-event-ib__tags {
    padding: 11px 13px;

    .archive-event-ib__tags-title {
      color: #292929;
      font-family: Poppins, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;

      margin-bottom: 10px;
    }

    .archive-event-ib__tags-list {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
    }
  }
}