.archive-event-images {
  margin-bottom: 5px;

  .archive-event-images__image {
    width: 442px;
    height: 334px;

    border-radius: 10px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .swiper {
    height: 350px;

    .swiper-wrapper {
      height: 334px;

      .swiper-slide {
        height: 100%;
      }
    }

    .swiper-pagination {
      transform: translate(0, 10px);
    }
  }
}