.month-slider {
  position: absolute;
  top: 0;
  left: 0;

  width: 117px;
  height: 38px;

  transform: translate(0, -13%);

  background: #1D1F25;
  border-radius: 25px;

  transition: transform .3s linear;

  z-index: -1;
}