.event-card__info {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;

  .event-card__location,
  .event-card__type {
    text-transform: uppercase;

    display: flex;
    align-items: center;
    gap: 15px;
  }

  .event-card__info-title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;

    letter-spacing: -0.32px;
  }
  .event-card__type {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;

    &:before {
      font-family: AppIcons;
      font-size: 20px;

      color: #9590A5;
    }
  }

  .event-card__location {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;

    color: rgba(149, 144, 165, 0.6);

    &:before {
      content: '\e914';
      font-family: AppIcons;
      font-size: 18px;

      color: rgba(149, 144, 165, 0.5);
    }
  }

  .event-card__type_all {
    &:before {
      content: '\e911';

      font-size: 19px;
    }
  }

  .event-card__type_staff {
    &:before {
      content: '\e905'
    }
  }
}