.filters-applied {
  height: 48px;

  display: grid;
  align-items: center;
  grid-template-columns: 30px calc(100% - 30px);
  gap: 20px;

  .filters-applied__btn {
    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    background: #E3E3E3;

    cursor: pointer;

    svg {
      width: 10px;
    }
  }

  .filters-applied__list {
    .swiper {
      height: 100%;

      .swiper-wrapper {
        height: 100%;

        .swiper-slide {
          margin-right: 5px;
        }
      }
    }
  }
}