.square-calendar__control-arrows {
  display: flex;
  align-items: center;
  gap: 35px;

  .square-calendar__control-arrows__prev,
  .square-calendar__control-arrows__next {
    cursor: pointer;

    img {
      width: 7px;
      height: auto;
    }
  }

  .square-calendar__control-arrows__next {
    img {
      transform: rotate(180deg);
    }
  }
}