.month {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 130%;

  color: #979797;

  cursor: pointer;
}


.month_curr {
  color: #292929;
}