.search {
  position: relative;
}
.search__container {
  position: relative;

  width: fit-content;
  height: fit-content;
}
.search__input {
  position: relative;

  width: 525px;

  padding: 8px 12px;

  border: 1px solid rgba(177, 181, 189, 0.2);

  background: transparent;

  border-radius: 40px;

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  color: #B1B5BD;

  cursor: pointer;

  transition: all .3s linear;
}
.search__input:focus {
  background: rgba(255, 255, 255, 0.1);

  border: 1px solid var(--color-purple);

  border-radius: 50px;
}
.search__icon {
  position: absolute;
  top: 0;
  right: 0;

  width: 50px;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  pointer-events: none;

  //background: var(--color-purple);

  border-radius: 0 40px 40px 0;

  transition: background-color .3s linear;
}
.search__icon_focused {
  background: var(--color-purple);
}
