.dates {
  width: 100%;
}
.dates__container {
  width: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 8px 10px;

  background: rgba(18, 20, 27, 0.5);
  border-radius: 15px;
}