.search {
  position: relative;

  width: fit-content;
}
.search__input {
  position: relative;

  width: 525px;

  padding: 8px 12px;

  border: 1px solid rgba(177, 181, 189, 0.2);

  background: transparent;

  border-radius: 40px;

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  color: #B1B5BD;

  cursor: pointer;

  transition: all .3s linear;
}
.search__input:focus {
  background: rgba(255, 255, 255, 0.1);

  border: 1px solid #5C4EFE;

  border-radius: 50px;
}
