.event-preview-now {
  position: relative;

  width: 698px;
  height: 380px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  border-radius: 10px;

  overflow: hidden;

  cursor: pointer;

  .event-preview-now_blackout_light {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: .35;

    background: #000;

    z-index: 1;
  }
}