.event__comments {
  width: auto;

  padding: 27px 36px 50px 36px;

  background: #FFFFFF;

  border: 1px solid #E3E3E3;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}