.event {
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.event__description {
  width: 979px;

  display: flex;
  flex-direction: column;
  gap: 80px;
}

.event__main-info {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 29px;
}

.event__info {
  width: 422px;

  .event__notify-n-gallery {
    display: flex;
    justify-content: space-between;
  }
}