.event {
  width: 100%;

  margin-top: 50px;

  display: flex;
  gap: 100px;

  transition: all .3s linear;
}
.event_narrow {
  gap: 50px;
}

.event__description {
  width: 785px;

  display: flex;
  flex-direction: column;
  gap: 80px;
}

.event__main-info {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 29px;
}

.event__info {
  width: 340px;

  .event__notify-n-gallery {
    display: flex;
    justify-content: space-between;
  }
}