.event__notify {
  width: 175px;
  height: 35px;

  background: #5344FF;
  backdrop-filter: blur(9.5px);

  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;

  color: #FFFFFF;

  cursor: pointer;

  img {
    width: 18px;
  }
}