.event__gallery {
  cursor: pointer;
  
  width: 125px;
  height: 35px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;

  color: #B1B5BD;
}