.event-soon {
  position: relative;

  width: 360px;
  height: 430px;

  border: 1px solid rgba(238, 238, 238, 0.7);
  border-radius: 16px;

  overflow: hidden;

  .event-soon__img {
    width: 100%;
    height: 312px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &:hover {
    .event-soon__info {
      transform: translate(0, -10px);

      background: #000;

      .event-soon__title {
        color: #fff;
      }

      .event-soon__text-block {
        transform: translate(0, 20px);

        .event-soon__icon {
          &:before {
            color: #fff;
          }
        }
        .event-soon__t {
          color: #fff;
        }
      }
    }

    .like-post {
      &:before {
        color: #000;
      }
    }
  }
}


.event-soon_small {
  width: 315px;
}