.event-soon__info {
  width: auto;
  height: calc(128px - 32px);

  background: #fff;

  padding: 16px 10px;

  display: flex;
  gap: 16px;

  transform: translate(0, 0px);

  transition: all .3s linear;

  .event-soon__text {
    .event-soon__title {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 17px;

      color: #9590A5;

      transition: color .3s linear;
    }
  }
}

.event-soon__text-block {
  display: flex;
  align-items: center;
  gap: 17px;

  transition: transform .3s linear;

  transform: translate(0, 50px);

  .event-soon__icon,
  .event-soon__t {
    transition: all .3s linear;
  }
}

.event-soon__location,
.events-soon__type_staff,
.events-soon__type_all {
    .event-soon__icon {
      display: flex;
      justify-content: center;
      align-items: center;

      &:before {
        font-family: AppIcons;
        font-size: 20px;

        color: rgba(255, 255, 255, 0.3);
      }
    }

    .event-soon__t {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 22px;

      color: rgba(255, 255, 255, 0.3);
    }
}

.events-soon__type_staff {
  .event-soon__icon {
    &:before {
      content: '\e905';
    }
  }
}
.events-soon__type_all {
  .event-soon__icon {
    &:before {
      content: '\e911';
    }
  }
}

.event-soon__location {
  .event-soon__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    &:before {
      content: '\e914';
    }
  }

  .event-soon__t {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;

    color: rgba(255, 255, 255, 0.3);
  }
}