.event-preview-now__categories {
  position: absolute;

  top: 0;
  left: 0;

  transform: translate(25px, 25px);

  color: #FFF;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  z-index: 2;
}