.create-post-title {
  width: 90%;

  display: flex;
  flex-direction: column;
  gap: 10px;

  input {
    width: 100%;

    border-bottom: 1px solid rgba(226, 226, 226, 0.5);

    padding-bottom: 5px;

    &::placeholder {
      color: #828282;
    }

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #292929;

    background: transparent;
  }
}

.create-post-title_error {
  input {
    border-color: var(--color-red);
  }
}

.create-title_past {
  input {
    color: #292929;
  }
}