.time-arrow {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-100%, -50%) rotateZ(0deg);
  transform-origin: right;

  width: calc(100% / 3);
  height: 2px;

  background: #FF8C8C;

  z-index: 1;

  pointer-events: none;

  &:before {
    content: '';

    position: absolute;
    top: 0;
    right: 0;

    transform: translate(2px, -2px);

    width: 6px;
    height: 6px;

    border-radius: 50%;

    background: #FF8C8C;
  }
  &:after {
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;

    transform: translate(-85%, 50%);

    width: 30px;
    height: 30px;

    border-radius: 50%;

    background: #FF8C8C;
  }
}