.like-event {
  cursor: pointer;

  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  .like-event__icon {
    display: flex;
    align-items: center;

    svg {
      //width: 25px;
    }
  }

  .like-event__count {
    color: #292929;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

@media screen and (max-width: 480px){
  .like-event {


    .like-event__icon {

      svg {
        //width: 25px;
      }
    }

    .like-event__count {

    }
  }

}