.header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;

  z-index: 1;
}

.header__container {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;

  transform: translate(var(--nav-bar-w), 0);

  background: rgba(22, 25, 32, 0.9);

  border-bottom: 1px solid #2F333B;

  backdrop-filter: blur(60px);

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__search {
  padding: 15px 50px;
}
.header__other {
  display: flex;

  padding-right: 150px;
}
.header__block {
  width: auto;
  height: 100%;

  border-width: 0px 1px;
  border-style: solid;
  border-color: #2F333B;

  padding: 15px;
}
.header__block:last-child {
  border-left: none;
}