.category {
  width: 290px;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;

  color: #B1B5BD;

  cursor: pointer;
}

.category_current {
  .category {
    color: #fff;

    background: var(--color-purple);
  }
}