.comment__response {
  cursor: pointer;

  margin-bottom: 10px;

  color: #B1B5BD;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}