.nav-bar {
  position: fixed;
  top: 0;
  left: 0;

  width: var(--nav-bar-w);
  height: 100vh;

  background: rgba(24, 26, 33, 0.9);

  border-right: 1px solid #2F333B;

  backdrop-filter: blur(28px);

  z-index: 1;
}
.nav-bar__container {
  position: absolute;
  top: 0;
  right: 0;

  width: 100%;
  height: 100%;
}
.nav-bar__work-field {
  position: relative;

  width: auto;
  height: calc(100% - 34px);

  padding: 17px 50px 17px 80px;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 40% 30%;
  gap: 20px;
}
.nav-bar__bottom {
  justify-self: start;
  align-self: end;
}