.filter {
  position: relative;

  display: flex;
  align-items: center;

  cursor: pointer;

  z-index: 1;
}

.filter_open {
  .filter__list {
    opacity: 1;

    pointer-events: all;
  }
}

.filter__list {
  position: absolute;
  top: 0;
  left: 0;

  transform: translate(0, 45px);

  width: 100%;

  padding: 12px 0;

  opacity: 0;
  pointer-events: none;

  background: rgb(30, 32, 39);

  border-radius: 25px;

  z-index: 2;
}


.filter__chosen {
  background: rgba(30, 32, 39, 0.8);
  backdrop-filter: blur(9.5px);

  border-radius: 40px;

  transition: background-color .2s linear;

  .filter__title {
    font-weight: 500;
    font-size: 12px;
  }

  &:hover {
    background: #2F333B;
  }
}

.filter__f-block {
  min-width: 206px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .filter__f-block-wrapper {
    display: flex;
    align-items: center;
    gap: 17px;
  }

  .filter__title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 21px;

    color: #FFFFFF;
  }

  padding: 7px 12px;
}

.filter__img {
  width: 18px;
  height: auto;
}

.filter__arrow {
  width: 9px;
  height: auto;
}

.filter__img,
.filter__title,
.filter__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}