.nav {
  opacity: 0.3;

  transition: opacity .3s ease-in-out;

  a {
    display: flex;
    align-items: center;
    gap: 27px;
  }
}
.nav__title {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;

  color: #FFFFFF;
}

.nav_current {
  opacity: 1;
}