@media screen and (max-width: 480px){
  .archive-event-ib {
    grid-template-columns: 100%;



    .archive-event-ib__i {
      padding: 10px 0;

      border-right: unset;
      border-bottom: 1px solid #E3E3E3;
    }

    .archive-event-ib__tags {


      .archive-event-ib__tags-title {

      }

      .archive-event-ib__tags-list {

      }
    }
  }
}