@media screen and (max-width: 480px){
  .archive-event-images {


    .archive-event-images__image {
      width: 260px;
      height: 238px;
    }

    .swiper {
      height: 255px;

      .swiper-wrapper {


        .swiper-slide {

        }
      }

      .swiper-pagination {

      }
    }
  }
}