.selections {
  margin-top: 80px;

  .selections__title {
    color: #292929;
    font-family: Poppins, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .selections__list {
    margin-top: 32px;

    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 20px;
  }
}