.selections-filter {
  width: 100%;

  .selections-filter__bar {
    width: 135px;
    height: 48px;
  }

  .swiper {
    width: 100%;


    .swiper-wrapper {


      .selection {
        height: 100%;
      }
    }
  }
}