.selections-filter {
  width: 100%;

  .selections-filter__bar {
    width: 135px;
    height: 48px;
  }

  .swiper {
    width: 100%;
    height: 50px;


    .swiper-wrapper {
      height: 100%;

      .selection {
        height: 100%;
      }
    }
  }
}