@media screen and (max-width: 480px) {
  .selections {
    .selections__title {
    }

    .selections__list {
      grid-template-columns: repeat(1, auto);
      gap: 5px;

      .selection {
        height: 70px;

        font-size: 13px;
      }
    }
  }
}

.selections-mob-wrapper {


  .selections-mob-wrapper__list {
    overflow: hidden;

    transition: all .3s;
  }

  .selections-btn {
    margin-top: 10px;
  }
}

.selections-mob-wrapper_close {

  .selections-mob-wrapper__list {
  }
}
.selections-mob-wrapper_open {
  .selections-mob-wrapper__list {
  }
}