@media screen and (max-width: 480px){
  .event-preview-now__info {


    .event-preview-now__title,
    .event-preview-now__remain-info {
      font-size: 24px;
    }


    .event-preview-now__remain-info {
      margin-top: 9px;
      font-size: 15px;
    }

  }
}