.event__organizer {
  width: auto;
  height: 112px;

  padding: 0 17px;

  background: #FFFFFF;

  border-radius: 10px;
}

.organizer {
  position: relative;

  display: flex;
  align-items: center;
  gap: 10px;

  .organizer__img {
    width: 50px;
    height: 50px;

    border-radius: 50%;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .organizer__info {
    display: flex;
    flex-direction: column;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 24px;

    color: #292929;

    .type {
      font-weight: 300;
      font-size: 11px;
    }
  }
}