.meet {
  position: relative;

  width: 100vw;
  height: auto;

  background: var(--meet-bg);
}
.meet__workspace {
  max-width: calc(100vw - var(--nav-bar-w));
}
.meet__wrapper {
  width: auto;

  padding-left: 50px;
}
.meet__main {
  transform: translate(var(--nav-bar-w), 100px);

  width: auto;
}