:root {
  --bg-header: #fff;
  --bg-main: #F8F8F8;
  --bg-event-card: #181A21;

  --color-month-curr: #FFFFFF;
  --color-month-other: #3E424A;

  --color-red: #FE4E4E;
  --color-purple: #5C4EFE;

  --color-border-input: #B4B4B4;
}