.detail-btn {
  width: 157px;
  height: 44px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #FFFFFF;
  backdrop-filter: blur(9.5px);

  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.05));

  border-radius: 5px;

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;

  color: #B1B5BD;

  transition: all .3s linear;
}