@media screen and (max-width: 480px){
  .event-preview-soon {
    height: 240px;
    border-radius: 10px;

    .event-preview-soon__blackout_light {

    }

    .event-preview-soon__data {
      padding: 10px 10px 20px 10px;

      .event-preview-soon__title,
      .event-preview-soon__date {
        font-size: 20px;
      }
      .event-preview-soon__date {
        margin-top: 9px;
        font-size: 15px;
      }
    }
  }
}