.events-now {
  position: relative;

  width: 500px; //480
  height: 280px; // 280

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  //border: 1px solid rgba(238, 238, 238, 0.7);
  border-radius: 10px;

  display: flex;
  align-items: flex-end;

  &:hover {
    .events-now__info-btn {
      color: #fff;
      background: var(--color-purple);
    }

    .events-now__info-title {
      color: #fff;
    }

    .events-now__info {
      background: #181A21;
    }
  }
}