.events-now__like {
  position: absolute;
  top: 0;
  left: 0;

  transform: translate(22px, 21px);

  padding: 12px;

  background: rgba(52, 56, 66, 0.7);

  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  &:before {
    content: '\e90a';
    font-family: AppIcons;
    font-size: 20px;

    color: #D3D3D3;
  }
}