.events-now__time {
  position: absolute;
  top: 0;
  right: 0;

  transform: translate(-20px, 17px);

  padding: 4px;

  background: #000000;

  border-radius: 4px;

  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;

  color: #FFFFFF;
}