.create-post-subtitle {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #828282;
}

.create-post-subtitle_past {
  color: #292929;
}

.crate-post-subtitle_title {
  font-size: 18px;
  font-weight: 500;
}