.user-comment {

  margin: 5px 0;

  display: grid;
  grid-template-columns: 45px auto;
  align-items: center;
  gap: 20px;

  .user-comment__image {
    width: 45px;
    height: 45px;

    border-radius: 50%;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 50%;
    }
  }

  .user-comment__comment {
    position: relative;

    width: calc(100% - 24px);

    padding: 8px 12px;

    border-radius: 10px;
    border: 1px solid rgba(177, 181, 189, 0.20);

    input {
      color: #75767a;
      font-family: Poppins, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .user-comment__btn {
      position: absolute;
      right: 0;
      top: 50%;

      cursor: pointer;

      transform: translate(-10px, -50%);
    }
  }
}