.user-circle {
    display: flex;
    align-items: center;
    gap: 10px;

    cursor: pointer;
    height: 100%;

    .user-circle__avatar {
        pointer-events: none;

        width: 40px;
        height: 39px;

        border-radius: 50%;

        background-position: center;
    }

    .user-circle__ux {
        pointer-events: none;

        width: auto;

        position: relative;
    }

    .user-circle__dots {
        position: absolute;

        display: flex;
        flex-direction: column;
        gap: 3px;

        .user-circle__dot {
            width: 5px;
            height: 5px;

            border-radius: 50%;

            background-color: #0F172A;
        }
    }

    .user-circle__crosshair {
        position: absolute;


        img {
            width: 15px;
            height: auto;
        }
    }

    .user-circle__dots,
    .user-circle__crosshair {
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

        opacity: 0;
    }

    .user-circle__ux_crs {
        .user-circle__crosshair {
            opacity: 1;
        }
    }

    .user-circle__ux_dots {
        .user-circle__dots {
            opacity: 1;
        }
    }
}