.user-info {
    width: auto;
    height: 60px;

    display: flex;
    align-items: center;
    gap: 8px;

    padding: 0 22px;

    .user-info__avatar {

        width: 44px;
        height: 44px;

        background-repeat: no-repeat;
        background-position: center;
    }

    .user-info__data {
        width: 100%;

        .user-info__name,
        .user-info__role {
            color: #292929;
            font-family: Poppins, sans-serif;
            font-size: 22px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%;
        }

        .user-info__role {
            font-size: 14px;
            font-weight: 400;

            &::first-letter {
                text-transform: uppercase;
            }
        }

        .user-info__edit {
            color: #B1B5BD;
            font-family: Inter, sans-serif;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

            cursor: pointer;
        }

        .user-info__below {
            width: 100%;

            display: flex;
            justify-content: space-between;
        }
    }
}