.meet-header {
    position: sticky;
    top: 0;

    width: 100%;
    height: 70px;

    background-color: #fff;

    z-index: 10;

    .meet-header__container {
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        .meet-header__user-bar {
            height: 100%;

            display: flex;
            align-items: center;
        }
    }

    .selections__list {
        display: grid;
        grid-template-columns: repeat(4, auto);
        gap: 20px;
    }
}