.search-bar {
    position: relative;

    width: 460px;
    height: 30px;

    input {
        width: calc(100% - 3.2px);
        height: calc(100% - 12.8px);

        border-radius: 6px;
        border: 0.8px solid #B4B4B4;

        padding: 6.4px 3.2px;

        color: #B1B5BD;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .search-bar__magnifier {
        position: absolute;
        top: 50%;
        right: 0;

        transform: translate(-50%, -40%);

        cursor: pointer;
    }
}